<div class="row">
  <div class="col-md6">
    <app-register>
      <h1>Register</h1>
      <button class="btn-primary btn-block mt-2">Register</button>
      <span>Already registered Please</span>
      <span><a routerLink="/login">Login</a></span>
    </app-register>
  </div>
  <div class="col-md6">
    <app-register>
      <h1>Login</h1>
      <button class="btn-primary btn-block mt-2">Login</button>
      <span>Already registered Please</span>
      <span><a routerLink="/login">Login</a></span>
    </app-register>
  </div>
</div>
