<div class="container">
  <div class="col-md-4 offset-4 mt-2 card">
    <div class="card-body">
      <h1 class="display-5 text-center text-uppercase">login</h1>
      <form #form="ngForm" (ngSubmit)="submit(form)">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            ngModel
            #username="ngModel"
            name="username"
            placeholder="enter Username"
            id="username"
            required
            minlength="3"
            maxlength="10"
          />
          <div
            *ngIf="username.touched && username.invalid"
            class="text-danger m-2"
          >
            <p *ngIf="username.errors.required">username is required</p>
            <p *ngIf="username.errors.minlength">
              username should be minimum 3 characters
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="Password">Password</label>
          <input
            type="password"
            class="form-control"
            ngModel
            #password="ngModel"
            name="password"
            placeholder="enter Password"
            id="password"
            required
            minlength="3"
            maxlength="10"
          />
          <div
            *ngIf="password.touched && password.invalid"
            class="text-danger m-2"
          >
            <p *ngIf="password.errors.required">password is required</p>
            <p *ngIf="password.errors.minlength">
              password should be minimum 3 characters
            </p>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-block" [disabled]="!form.valid">
            login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
