<app-header></app-header>
<div class="container">
  <app-player></app-player>
  <!---- <app-login></app-login>

  <app-employee></app-employee>-->
  <!-- <router-outlet></router-outlet> -->
  <!-- <courses></courses> -->
  <!---this is built in directive and it is using glue between coustomer and --
  <app-users></app-users>--
  <app-simple></app-simple>
</div>
<!--<app-login1></app-login1>--
<app-contact></app-contact>--
  <app-register></app-register>
</div>--
  <app-students></app-students>
  <app-form-builder></app-form-builder>
</div>-->

  <!--<div class="row">
    <div class="col-md-6">
      <app-login2
        ><h1 id="Login">Login</h1>
        <button id="btn">Login</button>
        <div>
          <span>Don't have an account,please</span><a href="">Register</a>
        </div></app-login2
      >
    </div>
    <div class="col-md-6">
      <app-login2
        ><h1 id="Login">Register</h1>
        <button id="btn">Register</button>
        <div>
          <span>Already registered</span><a href="">Login</a>
        </div></app-login2
      >
    </div>
  </div>-->
</div>
