<p>users works!</p>
<ul class="list-group" *ngFor="let user of users">
  <li class="list-group-item mt-2">name: {{ user.name }}</li>
  <li class="list-group-item mt-2"><img src="{{ user.photo }}" alt="" /></li>
  <li class="list-group-item mt-2">id: {{ user.id }}</li>
  <li class="list-group-item mt-2">designation: {{ user.designation }}</li>
  <li class="list-group-item mt-2">doj: {{ user.doj }}</li>
  <li class="list-group-item mt-2">education: {{ user.education }}</li>
  <li class="list-group-item mt-2">date_of_birth: {{user.date_of_birth</li>
  <li class="list-group-item mt-2">company name: {{ user.company_name }}</li>
  <li class="list-group-item mt-2">salary: {{ user.salary }}</li>
  <li class="list-group-item mt-2">location: {{ user.location }}</li>
</ul>
