<div class="row">
  <div class="col-md-6">
    <app-register
      ><h1>Register</h1>
      <button class="btn-primary btn-block mt-2">Register</button>
      <div>
        <span>Already registered please</span><a routerLink="/login">Login</a>
      </div></app-register
    >
  </div>
  <div class="col-md-6">
    <app-register
      ><h1>Login</h1>
      <button class="btn-primary btn-block mt-2">Login</button>
      <div>
        <span>Don't have an account, please</span
        ><a routerLink="/register">Login</a>
      </div></app-register
    >
  </div>
</div>
